
#stage{
    background: url('../../shared/images/chicken.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

#stage-caption{
    font-size: 3rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10rem;
}