<!-- navbar static top removes the round edges -->
<nav id="nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" style=" cursor : pointer " class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">


            <ul class="nav navbar-nav" *ngIf="authService.isAuthenticated()">
                <li routerLinkActive="active">
                    <a routerLink='/recipes'>Recipes</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink='/shopping-list'>Shopping List</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- doing it this way so it wont break the lists -->
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li>
                        <button class="btn btn-primary navbar-btn btn-sm btn-margin-right" id="signup" routerLinkActive="active" routerLink='/signup'>Register
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-primary navbar-btn btn-sm btn-margin-right" id="register" routerLinkActive="active" routerLink='/signin'>Sign In</button>
                    </li>
                </ng-template>
             
                <li>
                    <button class="btn btn-danger navbar-btn btn-margin-right btn-sm" (click)="logout()" routerLink='/' style="cursor:pointer"
                        *ngIf="authService.isAuthenticated()">Logout</button>

                </li>
                <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
                    <button style=" cursor : pointer" class="dropdown-toggle btn btn-primary navbar-btn btn-sm btn-margin-right">Manage
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <a style=" cursor : pointer " (click)="onSaveData()">Save Data</a>
                        </li>
                        <li>
                            <a style=" cursor : pointer " (click)="onFetchData()">Fetch Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>