<div class="row">
  <div class="col-xs-12">
 <h1 class="bold" >My Recipes</h1>
</div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!-- 
    recipeIndex is used for showing the selected recipe item
    then showing the recipe detail about it
    -> at router link

    -Binding from view to data source needs @Input
    -->
    
   
    <app-recipe-item 
    *ngFor="let recipeEl of recipes; let recipeIndex = index" 
    [recipe]="recipeEl" 
    [index]="recipeIndex">
    </app-recipe-item>
  </div>
</div>
    <div class="row">
    <div class="col-xs-12">
      <br>
        <button 
        routerLink="new" 
        class="btn btn-success btn-lg">
        New Recipe</button>
      </div>
    </div>
  
